.a-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-wrapper {
    display: flex;
}

.card {
    width: 950px;
    height: 600px;
    border-radius: 12px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}


.next-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6200ea;
    color: white;
}

.before-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6200ea;
    color: white;
}