.w2 {
    background-color: #b3aba1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.right-t {
    flex: 1;
    padding: 10px;
}

.left-t {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}