.c3-page {
    background-color: #e0d8d0;
    width: 100%;
    min-height: 100vh;
    border-radius: 20px;
}

.c3-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.ltext {
    flex: 1;
}

.rtext {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}